/*Обнуление*/
/* *{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */
/*--------------------*/

:focus,:active{outline: none;}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #303030;
    font-style: 0;
}

* {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Шапка */

.container {
    padding: 0 10px;
    max-width: 1220px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.header {
    background-image: url(../img/фон.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 150px;
}

.header__subtitle {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-top: auto;
}

.header__title {
    line-height: 87px;
    font-weight: 700;
    font-size: 64px;
}

.header__button {
    margin-bottom: auto;
    margin-top: 50px;
    align-self: center;
}

.header__title span {
    display: block;
    font-size: 42px;
    line-height: 57px;
}

.button__path {
    transition: fill .5s;
}

.button:hover .button__path {
    fill: #A9A32A;
}

.button__text {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translateY(-17px);
    margin-left: -57px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item {
    transition: all .2s;
}

.social__item:hover {
    transform: translateY(-2px);
}

.social__link {
    padding: 0 10px;
}

/* Секция */

.service {
    margin-bottom: 150px;
}

.service__inner {
    display: flex;
}

.service__content {
    flex-basis: 510px;
    margin-right: 90px;
}

.service__box {
    margin-bottom: 50px;
}

.service__box-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.service__box-text {
    line-height: 22px;
    font-size: 14px;
}

.service__img {
    object-fit: cover;
}

.info {
    margin-bottom: 150px;
}

.info__inner {
    display: flex;
}

.info__box {
    flex-basis: 510px;
    margin-right: 90px;
}

.info__content {
    flex-basis: 600px;
}

.info__content-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 17px;
}

.info-tabs {
    margin-bottom: 100px;
}

.info-tabs__items {
    margin-bottom: 120px;
}

.info-tabs__item {
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
}

.info-tabs__item--active {
    border-bottom: 1px solid #303030;
}

.info-tabs__content {
    display: none;
}

.info-tabs__content--active {
    display: block;
}

.info-slider {
    max-width: 510px;
}

.info-slider__img {
    margin-right: 40px;
    float: left;
}

.info-slider__text {
    padding-bottom: 15px;
    line-height: 19px;
    font-size: 14px;
}

.slick-arrow {
    position: absolute;
    left: 275px;
    bottom: -3px;
    z-index: 5;
    cursor: pointer;
}

.slick-right {
    left: 340px;
}

.info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__list-item {
    flex-basis: 235px;
    margin-bottom: 17px;
}

.info__list-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.info__list-text {
    line-height: 1.3em;
    font-size: 14px;
}

.blockquote {
    padding: 128px 10px 144px;
    background-image: url(../img/blockquote.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
}

.blockquote__text {
    max-width: 670px;
    margin: 0 auto;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #fff;
}

.clients {
    margin-bottom: 150px;
}

.clients-slider__box {
    display: flex;
}

.client-slider__box-img {
    flex-basis: 510px;
    margin-right: 90px;
    margin-bottom: 30px;
}

.clients-slider__box-title {
    max-width: 478px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.clients-slider__box-list {
    margin-left: 50px;
    margin-bottom: 65px;
    font-size: 14px;
}

.clients-slider__box-item {
    margin-bottom: 15px;
}

.slick-arrow path {
    transition: fill 0.5s;
}

.slick-arrow:hover path {
    fill: #A9A32A;
}

.step {
    margin-bottom: 150px;
}

.step__inner {
    display: flex;
}

.step__img {
    flex-basis: 600px;
    object-fit: cover;
}

.step__content {
    margin-right: 90px;
}

.step__list {
    font-size: 14px;
    list-style: none;
    counter-reset: number;
    max-width: 510px;
}

.step__list-item {
    counter-increment: number;
    margin-bottom: 30px;
}

.step__list-item::before {
    content: '0' counter(number);
    margin-bottom: 11px;
    color: #868585;
}

.step__list-item:nth-child(n + 10)::before {
    content: counter(number);
}

.step__list-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 2px;
}

.step__list-text {
    font-size: 14px;
    line-height: 19px;
}

.footer {
    background-image: url(../img/footer-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 50px;
    color: #fff;
}

.footer__top {
    display: flex;
    margin-bottom: 150px;
}

.footer__form {
    flex-basis: 510px;
    margin-right: 90px;
}

.footer__title {
    font-weight: 700;
    font-style: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.footer__input {
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    background-color: transparent;
    padding-bottom: 11px;
    font-size: 14px;
    height: 19px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    margin-bottom: 60px;
}

.footer__input::placeholder {
    font-size: 14px;
    height: 19px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.footer__form-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #fff;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.properfont {
    font-size: 14px;
}

.footer .social {
    margin-right: -10px;
}

.footer__contacts-item {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 25px;
}



/* Адаптив */

@media (max-width: 1240px) {
    .info__inner {
        flex-wrap: wrap;
        flex-wrap: wrap-reverse;
    }
    .info__box {
        flex-basis: 100%;
        margin-right: 0;
        display: flex;
    }
    .info__content {
        flex-basis: 100%;
    }
    .info__content-img {
        display: none;
    }
    .info__list {
        align-self: flex-start;
        margin-left: 40px;
    }
    .info-tabs__items {
        margin-bottom: 40px;
    }
}

@media (max-width: 1024px) {
   .service__inner {
        flex-wrap: wrap;
   }
   .service__content {
       flex-basis: 100%;
       margin-right: 0;
   }
   .service__img {
        width: 100%;
        height: 400px;
    }
    .step__inner {
        flex-wrap: wrap;
    }
    .step__content {
        margin-right: 0;
        
    }
    .step__img {
        object-fit: cover;
        height: 400px;
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 960px) {
    .clients-slider__box {
        display: block;
    }
    .clients-slider__box-title {
        max-width: 100%;
    }
    .client-slider__box-img {
        width: 100%;
        object-fit: cover;
        height: 300px;
        margin-right: 0;
    }
}

@media (max-width: 826px) {
    .info__box {
        display: block;
    }
    .info__list {
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .header__title {
        line-height: 56px;
        font-size: 48px;
    }
    .header__title span {
        font-size: 32px;
        line-height: 40px;
    }
    .blockquote {
        padding: 60px 10px 80px ;
    }
    .blockquote__text {
        font-size: 28px;
        line-height: 32px;
    }
    .footer__bottom {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__bottom .logo {
        width: 100%;
        margin: 20px auto;
    }
    .footer__top {
        flex-wrap: wrap;
    }
    .footer__form {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .header,
    .service,
    .info,
    .blockquote,
    .clients,
    .step,
    .footer__top {
        margin-bottom: 75px;
    }
}

@media (max-width: 540px) {
    .header__title {
        line-height: 38px;
        font-size: 32px
    }
    .header__title span {
        font-size: 22px;
        line-height: 28px;
    }
    .header__subtitle {
        font-size: 16px;
        line-height: 22px;
    }
    /* .info-slider {
        max-width: 100%;
    }
    .info-slider__img {
        margin-right: 0;
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
    .info-slider__text {
        max-width: 510px;
    } */
    .info-slider {
        max-width: 300px;
        margin: 0 auto;
    }
    .info-slider__img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        float: none;
        height: 200px;
        object-fit: cover;
    }
    .slick-left {
        left: calc(50% - 50px);
    }
    .slick-right {
        left: calc(50% + 10px);
    }
    .info__list {
        display: block;
    }
    .info-tabs__item {
        margin-right: 0;
        padding: 10px;
        display: block;
        text-align: center;
    }
    .clients-slider__box-list {
        margin-left: 0;
    }
}

@media (max-width: 375px) {
    .button__text {
        margin-left: -79px;
    }
    .title {
        margin-bottom: 40px;
    }
    .service__box {
        margin-bottom: 30px;
    }
    .blockquote__text {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 340px) {
    .info-slider {
        width: 280px;
    }
}





.animation-left {
    animation: animationLeft 1s ease-out 1s;
    animation-fill-mode: backwards;
}
.animation-right {
    animation: animationRight 1s ease-out 2s;
    animation-fill-mode: backwards;
}
.animation-top {
    animation: animationTop 1s ease-out;
}
.animation-bottom {
    animation: animationBottom 1s ease-out .5s;
    animation-fill-mode: backwards;
}

@keyframes animationLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
@keyframes animationRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
@keyframes animationTop {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
@keyframes animationBottom {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    80% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }